.Home {
  background-color: #f5efed;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 100px;
  color: #b80c09;
  text-shadow: -5px -5px white;
}
