.Login {
  padding: 20px;
  overflow: hidden;
  color: white;
}

.FormContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
}

.Input {
  padding: 0.5em;
  width: 50%;
  margin: 5px;
  border: 3px solid black;
  text-align: center;
  color: black;
}

.Input:focus {
  outline: none;
}

.Submit {
  padding: 0.8em;
  margin: 10px;
  width: 20%;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .Input {
    width: 100%;
  }
}
