.Popup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(188, 54, 54, 0.95);
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.PopupContent {
  background-color: white;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CloseCross {
  color: black;
  display: inline;
}

.CloseCross:hover {
  color: rgba(188, 54, 54);
  cursor: pointer;
  width: 100px;
  background-color: lightblue;
}
