.Popup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgb(139, 38, 53, 0.9);
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.PopupContent {
  background-color: white;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CloseCross {
  color: black;
  display: inline;
  transition: 0.5s background-color;
  width: 100px;
}

.CloseCross:hover {
  color: white;
  cursor: pointer;
  background-color: #8b2635;
}
