.HabitGrid {
  display: grid;
  border: 1px solid black;
  width: 90%;
  margin: auto;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.HabitTitl {
}
.HabitCheckBox {
  background-color: blue;
  border: 1px solid black;
}

.HabitCheckBoxChecked {
  background-color: black;
}

.HabitCheckBox:hover {
  background-color: green;
  cursor: pointer;
  border: 1px solid black;
}

.HabitSuccess {
  background-color: green;
}
