.HabitGrid {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.HabitHeaders {
  font-weight: bolder;
}
.HabitCheckBox {
  background-color: #48a9a6;
  border: 1px solid#2E3532;
}

.HabitCheckBoxChecked {
  background-color: black;
}

.HabitCheckBox:hover {
  background-color: #8b2635;
  cursor: pointer;
}

.HabitSuccess {
  background-color: #f4f4f9;
}
